#header a
{
    color: green;
}

#header ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#header li
{
    display: inline;
}

#header a:link, a:visited
{
    width: 60px;
    font-weight: bold;
    background-color: #98bf21;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

#header a:hover, a:active
{
    background-color: #7A991A;
}

#content
{
    margin-top: 15px;
}

#content input[type=submit]
{
    padding:1px 8px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 3px;
    border-radius: 5px;
}

body
{
    background-color: #FFFFCC;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}
