{% extends "games/base.html" %}

{% block title %}Fun Games{% endblock %}

{% block header %}
    <ul>
        <li><a href="/games/">Home</a></li>
        <li><a href="/games/aboutMe/">About Me</a></li>
    </ul>
{% endblock header %}

{% block content %}
    <br>
    <br>
    <div id="aboutMe">
        <p id="name">Name:  Deep Aggarwal</p>
        <p id="email">Email: deep.uiuc@gmail.com</p>
        <p id="sourceCode">Source Code: <a href="https://github.com/deep4788/onlineGames" target="_blank">Available on my GitHub</a></p>
    </div>
{% endblock content %}
