{% extends "games/base.html" %}

{# When you load a custom tag or filter library, the tags/filters are only made available to the current template – not any parent or child templates along the template-inheritance path. #}
{# For example, if a template foo.html has {% load humanize %}, a child template (e.g., one that has {% extends "foo.html" %}) will not have access to the humanize template tags and filters. #}
{# The child template is responsible for its own {% load humanize %}. Link: https://docs.djangoproject.com/en/1.7/topics/templates/ #}
{# So we need to load staticfiles again #}
{% load staticfiles %}

{% block title %}Fun Games{% endblock %}

{% block header %}
    <ul>
        <li><a href="/games/">Home</a></li>
        <li><a href="/games/aboutMe/">About Me</a></li>
    </ul>
{% endblock header %}

{% block content %}
    <p id="hangwoman">Hangwoman</p>

    {# Add a canvas to draw the game on #}
    <canvas id="gameCanvas" width="924" height="512"></canvas>

    {# Add the startGame.js script to start the game if fullMoviesList is not empty #}
    {% if fullMoviesList %}
        <script>
            //Get the list of movies from django template variable fullMoviesList into javascript array
            var moviesArray = [];
            {% for movie in fullMoviesList %}
                {% autoescape off %}
                moviesArray.push("{{ movie.movieNameText }}");
                {% endautoescape %}
            {% endfor %}
        </script>
        <script type="text/javascript" src="{% static 'games/startGame.js' %}"></script>
    {% endif %}

    {# Add the hangwoman.js script #}
    <script type="text/javascript" src="{% static 'games/hangwoman.js' %}"></script>
{% endblock content %}
