{% extends "games/base.html" %}

{% block title %}Fun Games{% endblock %}

{% block header %}
<ul>
    <li><a href="/games/">Home</a></li>
    <li><a href="/games/aboutMe/">About Me</a></li>
</ul>
{% endblock header %}

{% block content %}
<p> Hi, Here are some fun games.</p>
{% endblock content %}


{# ------------------------------------------------------- #}
{# --------------------- Some notes  --------------------- #}
{# ------------------------------------------------------- #}

{% comment "Optional note" %}

{% endcomment %}
